<div class="container">
    <div class="row bg-radius2 bg-secondary-light py-3 mb-2">
        <div class="col-6">
            <div class="font-bold text-black">Cuenta: 12345678</div>
            <div class="font-normal text-gray-700">Fecha: 07/12/2024</div>
            <div class="font-normal text-gray-700">Número Movimiento: 001</div>
        </div>
        <div class="col-6 d-flex flex-column align-items-end">
            <div class="font-normal text-gray-700">Tipo: Depósito</div>
            <div class="font-normal text-gray-700">Acción: Crédito</div>
            <div class="font-bold text-black">Importe: $100.00</div>
        </div>
    </div>
</div>