<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Movimientos</title>
</head>

<body class="login-body">
    <div class="movements-header">
        <h1 class="movements-title">Consultar Movimientos</h1>
    </div>
    <button class="floating-back-button" onclick="window.location.href='welcome.html'" title="Regresar">&#8592;</button>
    <div class="movements-container">
        <div class="search-container">
            <div class="search-bar">
                <input type="text" id="accountNumber" placeholder="Ingrese el número de cuenta...">
                <button id="searchButton">Buscar</button>
            </div>
            <div id="summaryBox" class="summary-box" style="display: none;">
                <p><span class="label">Saldo de la Cuenta:</span> <span id="accountBalance">N/A</span></p>
                <p><span class="label">Total Movimientos:</span> <span id="totalMovements">N/A</span></p>
            </div>
        </div>
        <div id="movements-list" class="movements-list">
            <!-- Movement items will be populated here -->
        </div>
        <button class="floating-button" onclick="window.location.href='account.html'">+</button>
    </div>
    <div id="modal-container"></div> <!-- Container for modal -->
    <script>
        fetch('/modal.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('modal-container').innerHTML = html;
                const modalOkButton = document.getElementById('modal-ok-button');
                if (modalOkButton) {
                    modalOkButton.addEventListener('click', closeModal);
                }
            });
    </script>
    <script type="module" src="/controller/modal.js"></script>
    <script type="module" src="/controller/movements.js"></script>
</body>

</html>