/TI1.1  SOAP_JAVA_EUREKA_BANK_GR08/02.CLICON/CLICON_EUREKA_GR08/target/
/TI1.1  SOAP_JAVA_EUREKA_BANK_GR08/02.CLIESC/CLIESC_EUREKA_GR08/target/

# Java build artifacts
/target/
**/target/
*.war
t a r g e t / 
 
 # Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Evitar node_modules
node_modules/