<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoginServicio" />
                <binding name="BasicHttpBinding_IMovimientoServicio" />
                <binding name="BasicHttpBinding_ICuentaServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/LoginServicio/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginServicio"
                contract="WSLoginReference.ILoginServicio" name="BasicHttpBinding_ILoginServicio" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/MovimientoServicio/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovimientoServicio"
                contract="WSMovimientoReference.IMovimientoServicio" name="BasicHttpBinding_IMovimientoServicio" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ws_eureka_bank_soap_dotnet.ec.edu.monster.contracts/CuentaServicio/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICuentaServicio"
                contract="WSCuentaReference.ICuentaServicio" name="BasicHttpBinding_ICuentaServicio" />
        </client>
    </system.serviceModel>
</configuration>